<style>
    h1{
        color: blue;
    }
    img{
        width: 400px;
        
    }
    #thirdDiv{
        background-color: brown;
        height: 600px;
        width: 500px;
        padding: 50px;
        border: solid greenyellow 20px;        
    }
    #spanId{
        font-size: 18px;
        margin: 50px;
    }
    
</style>